/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    display: block;
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }


:root {
    --ff-default:   'Roboto', sans-serif;
    --ff-secondary:  'Raleway', sans-serif;


    --fs-default: 1rem;
    --fs-medium: calc(var(--fs-default) * 2);

}

body {
    font-family: var(--ff-default);  
}

.logo {
  font-size: 2rem;   
}


.logo,.nav-cart span {
  font-family: var(--ff-secondary);
  transition: all .5s ease;

  font-weight: 800;
}



.nav-bar,.nav-cart {
  transition: all .5s ease;

  display: flex;
}

.nav-bar {
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 2rem;
}

.nav-bar svg {
  fill: white;
}

.nav-cart:hover, .logo:hover {
  cursor: pointer;
  opacity: .7;
  scale: 1.1;
  transition: all .5s ease;
}

.homepage {
  position: relative;
  color: white;
  font-size: var(--fs-medium);
  display: flex;
}

.homepage-content {
  z-index: 111;
}

.watch-name {
  font-weight: 500;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
}

.watch-text {
  padding-block: 1rem;
}
.price{  
  font-weight: 900;
  font-style: italic;
}
.price::before {
  content: "$";
}

.watch img {
  border-radius: 1rem;
}

.btn-add {
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}

.catalog {
  padding: 3rem 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "watch1 watch2 watch3"
  "watch4 watch5 watch6"
  "watch7 watch8 watch9"  
  ;

  column-gap: 3rem;
  row-gap: 3rem;


}

.cart-div {
  position: absolute;
  background-color: rgb(0,0,0, 60%);
  margin-inline: auto;
  top: 0;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: flex-end;
  color: white;
}

#watch_1 {
  grid-area: watch1;
}

#watch_2 {
  grid-area: watch2;
}

#watch_3 {
  grid-area: watch3;
}

#watch_4 {
  grid-area: watch4;
}

#watch_5 {
  grid-area: watch5;
}

#watch_6 {
  grid-area: watch6;
}

#watch_7 {
  grid-area: watch7;
}

#watch_8 {
  grid-area: watch8;
}

#watch_9 {
  grid-area: watch9;
}



.cart {
  background-color: white;
  color: black; 
    
  height: 100%;
  padding: 2rem;
}

.cart h1 {
  font-size: var(--fs-medium);
}

.cart-items {
  overflow: scroll;
  height: 30%;
  padding: 2rem;
}

.cart-item {
  margin-block: 2rem;
  gap: 1rem;
}

.cart-item h1 {
  font-size: var(--fs-default);

}

.cart-item, .cart-item-right {
  display: flex;
}

.cart-item img {
  max-width: 10rem;
}

.cart-item-right {
  flex-direction: column;
}